@model KahveMVC.Models.EntityFramework.anasayfa
@{
    ViewBag.Title = "Ana Sayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="~/Content/img/@Model.foto" alt="">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">

                    <span class="section-heading-lower">@Model.ustBaslik</span>
                </h2>
                <p class="mb-3">
                    @Html.Raw(@Model.ustIcerik)

                </p>
                
            </div>
        </div>
    </div>
</section>
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                    <h2 class="section-heading mb-4">

                        <span class="section-heading-lower">@Model.altBaslik</span>
                    </h2>
                    @Html.Raw(Model.altIcerik)
                </div>
            </div>
        </div>
    </div>
</section>


