@model List<KahveMVC.Models.EntityFramework.iletisimformu>
@{
    ViewBag.Title = "İletişim";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">İletişim</li>
        </ol>
        <!-- DataTables Example -->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                İletişim formu listesi
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Ad Soyad</th>
                                <th>Mail</th>
                                <th>Tarih</th>
                                <th>Mesaj</th>
                                <th>Cinsiyet</th>
                                <th>izin</th>
                                <th>Sil</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var veri in Model)
                            {
                                <tr>
                                    <td>@veri.adSoyad</td>
                                    <td>@veri.eposta</td>
                                    <td>@veri.tarih</td>
                                    <td>
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter_@veri.id">
                                           Mesajı Oku
                                        </button>

                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModalCenter_@veri.id" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLongTitle">Mesaj</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                      @veri.mesaj
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                                                        @Html.ActionLink("Sil", "Sil", new { veri.id }, new { @class = "btn btn-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>@(veri.cinsiyet == true ? "Kadın" : "Erkek")</td>
                                    <td>@(veri.izin == true ? "Onaylı" : "Red edildi")</td>
                                    <td>
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#Sil_@veri.id">
                                           Sil
                                        </button>

                                        <!-- Modal -->
                                        <div class="modal fade" id="Sil_@veri.id" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLongTitle">Kayıt Sil</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <h4>Kaydı silmek istiyor musunuz?</h4>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary mx-4" data-dismiss="modal">Vazgeç</button>
                                                        @Html.ActionLink("Sil", "Sil", new { veri.id }, new { @class = "btn btn-danger mx-4" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                       
                                    </td>

                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>

    </div>
    <!-- /.container-fluid -->
    <!-- Sticky Footer -->
    <footer class="sticky-footer">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright © Your Website 2019</span>
            </div>
        </div>
    </footer>
</div>

@section scripts
    {

    <script>
        $('#dataTable').DataTable({
            language: {
                info: "_TOTAL_ kayıttan _START_ - _END_ kayıt gösteriliyor.",
                infoEmpty: "Gösterilecek hiç kayıt yok.",
                loadingRecords: "Kayıtlar yükleniyor.",
                zeroRecords: "Tablo boş",
                search: "Arama:",
                sLengthMenu: "Sayfada _MENU_ kayıt göster",
                infoFiltered: "(toplam _MAX_ kayıttan filtrelenenler)",
                buttons: {
                    copyTitle: "Panoya kopyalandı.",
                    copySuccess: "Panoya %d satır kopyalandı",
                    copy: "Kopyala",
                    print: "Yazdır",
                },

                paginate: {
                    first: "İlk",
                    previous: "Önceki",
                    next: "Sonraki",
                    last: "Son"
                },
            }
        });
    </script>
}